<!DOCTYPE html>
<html>
<head>
    <title>Vizualizarea unei carti</title>
</head>
<body>

    <h1>Vizualizarea unei carti</h1>
    <p><strong>Titlu:</strong> {{ book.title}}</p>
    <p><strong>Autor:</strong> {{ book.author}}</p>
    <p><strong>Pret:</strong> {{ book.price}}</p>
    <p><strong>Descriere:</strong> {{ book.description}}</p>

</body>
</html>